<div class="lookk-book-container">
    <div class="look-boook-bg">
        <div class="look-book-info">
            <span class="title">Lookbook</span>
            <p>
                Nos articles suivent le principe le principe du Feng Shui en étant composés
                 d’une seule matière avec le moins de coutures possible, ne faisant pas d’ourlet 
                 pour laisser le tissus s’effilocher. 
                Le but est de jouer avec les altière, les teintes et le patronage, pas les logos et autres designs.
            </p>
        </div>
    </div>

    <div class="images-look">
        <div class="images-look1">
            <div class="images-look1-1" [style.backgroundImage]="'url(./../../assets/img/footer-photo1.png)'"></div>

            <div class="images-look1-2">
                <div class="images-look1-2-1">
                    <div class="images-look1-2-1-1"[style.backgroundImage]="'url(./../../assets/img/accessoire1.png)'" ></div>
                    <div class="images-look1-2-1-2" [style.backgroundImage]="'url(./../../assets/img/article2.png)'"></div>
                </div>
                <div class="images-look1-2-2">
                    <div class="images-look1-2-2-1" [style.backgroundImage]="'url(./../../assets/img/article7.png)'"></div>
                    <div class="images-look1-2-2-2" [style.backgroundImage]="'url(./../../assets/img/article8.png)'"></div>
                </div>
            </div>
  <!-- <img src="./../../assets/img/article2.png"> -->
        </div>

        <div class="images-look2" [style.backgroundImage]="'url(./../../assets/img/image-plein.png)'">

        </div>


        <div class="images-look3">
            <div class="images-look3-1">
                <div class="images-look3-2-1">
                    <div class="images-look3-2-1-1" [style.backgroundImage]="'url(./../../assets/img/vetment1.png)'"></div>
                    <div class="images-look3-2-1-2" [style.backgroundImage]="'url(./../../assets/img/vetement3.png)'"></div>
                </div>
                <div class="images-look3-2-2">
                    <div class="images-look3-2-2-1" [style.backgroundImage]="'url(./../../assets/img/vetement2.png)'"></div>
                    <div class="images-loo3-2-2-2" [style.backgroundImage]="'url(./../../assets/img/look-sac.png)'"></div>
                </div>
            </div>
            <div class="images-look3-2" [style.backgroundImage]="'url(./../../assets/img/article3.png)'"></div>

        </div>
    </div>
    
</div>
