.resume-footer {
    margin-top: 1rem;
}
.deli-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.9rem;
}
.valid-cmd-btn {
    margin-top: 1rem;
}