<div class="item_container">
    <img class="close_item">
    <div class="item_image">
        <img [src]="resumItem?.resumeImage">
    </div>
    <div class="item_infos">
        <span class="resume_libelle">{{resumItem?.libelle}}</span>
        <span class="resume_price">{{resumItem?.price}}</span>
        <span class="resume_caracteristique">Couleur : {{resumItem?.color}}</span>
        <span class="resume_caracteristique">Taille : {{resumItem?.size}}</span>
        <span class="resume_caracteristique">Quantité : {{resumItem?.quantite}}</span>
    </div>
</div>
