<div class="banner-container">
  
   
    <div class="banner-info">
        <span class="sub-title">Sample for Zium website.</span>
        <span class="title">Sample for Zium website.</span>
        <p>
            Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre
             provisoire pour calibrer une mise en page, le texte définitif venant remplacer le
             provisoire pour calibrer une mise en page, le texte définitif venant remplacer le
        </p>
    </div>
    <div class="background-container">
    </div>
    

    <div class="article-scroll">
        <carousel [images]="images">
         
        </carousel>
    </div>

</div>
