<div class="a-propos">
    <div class="info">
        <div class="info-image">
            
        </div>
        <p>
            ZIUM vient du mot Elysium. Elysium ou champs Élysée est un
             lieu parfait de repos pour les hommes vertueux dans la mythologie Grec.
             ZIUM est une vision par parfaite de ce à quoi devrait ressembler le monde 
             et le design, simple, brut, intemporel, sans surplus, basé sur l’humain et
              son accomplissement personnel. Elysium est devenu ZIUM,
             le luxe est dans la réduction, il perd également sa connotation ancienne et devient de ce fait temporel.
        </p>
       <span>
        Lire plus
       </span>
    </div>
    <div class="images">
    </div>
</div>
