.input-group2 {
    display: flex;
    flex-direction: column;
}
.input-group2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.input-group2 textarea{
    max-width: -webkit-fill-available;
    outline: none;
    border-radius: 1rem;
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    padding: 1rem;
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    margin-top: 0.6rem;
}
.input-group2 span {
    margin-left: 1rem;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.form-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -4rem;
    align-items: baseline;
}
.input-group {
    width: 100%;
    margin-bottom: 1rem;
}
.form-colone1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 1.5rem;
}
.form-colone2{
    display: flex;
    flex-direction: column;
    width: 40%;
}
span.form-title {
    font-size: 2rem;
    margin-left: 4rem;
}


.defaul-btn {
    position: absolute;
    width: 10rem;
    opacity: 1;
    transition: all 0.1s ease;

    
}
.defaul-btn:hover{
    //visibility: hidden;
}
.cmdBtn{
    position: relative;
    margin-top: 1.5rem;
}
.cmdBtn:hover{
    .hover-btn{
        opacity: 1;
        width: 16rem;
        transition: width 0.3s ease-in-out;
        transition: all 0.4s ease;

    }
    .defaul-btn{
        opacity: 0;
        transition: all 0.1s ease;
    }
    
}

// .defaul-btn:hover, .hover-btn{
//         visibility: visible;
// }

.hover-btn{
    opacity: 0;
    width: 12rem;
    background: #998784;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    transition: all 0.2s ease;
    position: absolute;
}


.brd-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
.bdr1 {
    width: 30%;
    height: 5px;
    background: black;
}
.bdr2 {
    width: 60%;
    height: 2px;
    background: black;
}
.hover-btn img {
    width: 2.2rem;
}
.hover-btn span {
    color: #FFF;
    border-bottom: 3px solid;
    line-height: 2rem;
    margin-top: -0.3rem;
}