<div [ngClass]="{main_search_container:true, show:isShow}">
    <ng-container *ngIf="isShow">
        <img class="close-icn" src="./../../assets/img/Close_big.svg" (click)="closeSearch()">

        <div class="search-input">
            <img src="./../../assets/img/Search-icon.svg">
            <input type="text" placeholder="Rechercher" (keyup)="getSearchValue($event)">
        </div>
        <div class="filterItem">
        <div class="block-filter" *ngIf="filteredItems.length > 0">
            <div class="itemfilt" *ngFor="let itemFilt of this.filteredItems" (click)="getSelectedItem(itemFilt)">
                <span class="filterLib">{{itemFilt.libelle}}</span>
            </div>
        </div>
    </div>
        <span class="notItemText" *ngIf="!filteredItems.length && searchValue">article non trouver</span>
    </ng-container>


</div>