<div class="main-container">
    <app-main-search [isShow]="showMainSearch" (selectedItem)="getSeachedLibelle($event)"></app-main-search>
    <div class="menu-icon" (click)="getFullNav()" *ngIf="router.url === '/'">
        <img src="./../../assets/img/Menu.svg">
    </div>
    <div class="search-content">
        <img src="./../../assets/img/Search.svg" (click)="getSearch()">
        <img src="./../../assets/img/shopping-cart.svg" (click)="getResumeCommande()">   
    </div>
    <div [ngClass]="{resume_content:true, displayStyle:showResume}">
        <ng-container *ngIf="showResume">
        <app-resume-commande (emitCmdResume)="valideResume()"></app-resume-commande>
    </ng-container>
    </div>
    <app-nav-bar (clickNav)="getClickedNav($event)" [inFull]="isFullNav"></app-nav-bar>
    
   
    <div class="main-content-right">
        <router-outlet></router-outlet>
        <ng-container *ngIf="router.url === '/'">
        <div class="banner-content">
            <app-banner></app-banner>
        </div>
        <div class="scrolling-container">
            <div id="apropo">
                <app-apropos></app-apropos>
            </div>
            <div id="article">
                <app-articles></app-articles>
            </div>
            <div id="accessoire">
                <app-accesoires></app-accesoires>
            </div>
            <div id="look">
                <app-look-book></app-look-book>
            </div>
            <app-footer></app-footer>
               
            <!-- <div class="accessoires-containre"></div> -->

        </div>
    </ng-container>
    </div>


</div>