.footer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}
.info-and-form {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.info-entreprise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
  
}

.contact-form {
    flex: 2;
    background: #998784;
    height: 100%;
   
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signatute-bloc {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-entreprise img {
    width: 7rem;
    height: 7rem;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 7rem;
    justify-content: space-between;
    width: 100%;
}
.nav-libelle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 7rem;
    margin-top: 3rem;
    width: 100%;
    
}
.informations {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
}
span.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #FFF;
}
span.nav-lib {
    font-size: 1.1rem;
    color: #FFF;
}
span.over-info {
    font-size: 0.9rem;
    color: #FFF;
}
.form-content {
    width: 75%;
    margin: auto;
}
.form-1 {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.input-group {
    width: 48%;
}
.input-group2 {
    display: flex;
    flex-direction: column;
}
.input-group2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.input-group2 textarea{
    max-width: -webkit-fill-available;
    outline: none;
    border-radius: 1rem;
    width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    padding: 1rem;
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    margin-top: 0.6rem;
}
.input-group2 span {
    margin-left: 1rem;
}
span.title-form {
    font-size: 2.2rem;
    color: #FFF;
    display: flex;
    margin-bottom: 4rem;
}
label.label-style {
    margin-left: 1rem !important;
}
.Apropos-footer img {
    width: 1.5rem;
    height: 1.5rem;
}
.Apropos-footer span {
    margin-left: 0.4rem;
    color: #959595;
    font-size: 0.7rem;
}
.Apropos-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.Insta-footer img {
    width: 1.5rem;
    height: 1.5rem;
}
.Insta-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.Insta-footer span {
    color: #FFF;
    margin-bottom: 0.4rem;
}
.footer-bottom-content {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.defaul-btn {
    position: absolute;
    width: 10rem;
    opacity: 1;
    transition: all 0.1s ease;
    color: #FFF;

    
}
.defaul-btn:hover{
    //visibility: hidden;
}
.cmdBtn{
    position: relative;
    margin-top: 1.5rem;
}
.cmdBtn:hover{
    .hover-btn{
        opacity: 1;
        width: 16rem;
        transition: width 0.3s ease-in-out;
        transition: all 0.4s ease;

    }
    .defaul-btn{
        opacity: 0;
        transition: all 0.1s ease;
    }
    
}

// .defaul-btn:hover, .hover-btn{
//         visibility: visible;
// }

.hover-btn{
    opacity: 0;
    width: 12rem;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    transition: all 0.2s ease;
    position: absolute;
}


.brd-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
.bdr1 {
    width: 30%;
    height: 5px;
    background: #FFF;
}
.bdr2 {
    width: 60%;
    height: 2px;
    background: #FFF;
}
.hover-btn img {
    width: 2.2rem;
}
.hover-btn span {
    color: #998784;
    border-bottom: 3px solid;
    line-height: 2rem;
    margin-top: -0.3rem;
}