<div class="articles-content">
    <div class="colone2">
        <div class="item" >
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/article4.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
            </div>
        </div>
        <div class="item" >
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/accessoire1.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
        </div>
        </div>
        <div class="item">
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/vetement2.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="colone1">
       
        <div class="bg-vetmt"></div>
        <div class="item" >
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/vetement4.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
        </div>
        </div>
        <div class="item" >
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/vetement3.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
        </div>
        </div>
        <div class="item" >
            <div class="item-bg" [style.backgroundImage]="'url(./../../assets/img/vetment1.png)'">
            <div class="glass-bg">
                <div class="border-eye">
                    <img src="./../../assets/img/oeil.png">
                </div>
            </div>
        </div>
        </div>
    </div>
 
</div>
