.detail_container {
    margin-left: 8rem;
    height: 100vh;
    flex: 1;
    background: cadetblue;
    background-repeat: no-repeat;
    background-size: contain;
}
.details-info {
    position: absolute;
    width: 35rem;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}


.banner-container {
    width: inherit;
    height: 100vh;
    flex: 1;
    position: relative;
   
}
.background-container{
   
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    background-size: cover;
}
.banner-info {
    position: absolute;
    width: 35rem;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.choice-content{
    position: absolute;
    width: 35rem;
    position: absolute;
    top: 47%;
    left: 50%;
    height: 10rem;
}
span.sub-title {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
span.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}
.article-scroll {
    position: absolute;
    height: 10rem;
    width: 50%;
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%); 

    // background: red;
    // height: 10rem;
    // width: 35rem;
    // position: absolute;
    // top: 80%;
    // left: 65%;
    // transform: translateX(-50%, -50%);
    // display: flex;
    // flex-wrap: nowrap;
    // align-items: center;
    // justify-content: flex-start;
    // overflow-x: auto;
    // overflow-y: hidden;
    // z-index: 99999;

    // position: absolute;
    // background: red;
    // height: 10rem;
    // width: 35rem;
    // bottom: 5%; /* Ajustez la position verticale selon vos besoins */
    // left: 50%;
    // transform: translateX(-50%); /* Déplacez horizontalement au centre */
    // display: flex;
    // flex-wrap: nowrap;
    // align-items: center;
    // justify-content: flex-start;
    // overflow-x: auto;
    // overflow-y: hidden;
    // z-index: 99999;
}

.elarticle {
    width: 10rem;
    background: black;
    height: inherit;
    margin-left: 0.5rem;
}
.color_item {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    margin-left: 0.4rem;
    cursor: pointer;
    transition: all 0.3s;
    border: 3px solid transparent;
}
.color_item.selectStyle{
    border: 3px solid black;
    transition: all 0.3s;
    padding: 0.1rem;
} 
.list-content-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -0.4rem;
    margin-top: 0.4rem;
}
.list-content-size {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -0.5rem;
    margin-top: 0.4rem;
}
span.size_item {
    margin-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 200;
    cursor: pointer;
}
span.size_item.selectSize{
    font-weight: 600;
}
.size-container {
    margin-left: 2rem;
    margin-right: 2rem;
}
.choice-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}
.couleur-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.moins {
    width: 1.8rem;
    height: 1.8rem;
    background: #998784a3;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.plus{
    width: 1.8rem;
    height: 1.8rem;
    background: #998784;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.moins span {
    line-height: 0px;
    font-size: 2rem;
    font-weight: 100;
    margin-top: -0.2rem;
    color: #F7F7F7;
}
.plus span{
    line-height: 0px;
    font-size: 1rem;
    font-weight: 600;
    color: #F7F7F7;
    margin-top: 0.1rem;

}
.qte-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4rem;
    width: 6rem;
    justify-content: space-between;
}

.cmdBtn {
    margin-top: 5rem;
    margin-left: 1rem;
}
.defaul-btn {
    width: 10rem;
    position: absolute;
    left: 1rem;
    opacity: 1;
    transition: all 0.1s ease;
    
}
.defaul-btn:hover{
    //visibility: hidden;
}
.cmdBtn:hover{
    .hover-btn{
        opacity: 1;
        width: 13rem;
        transition: width 0.3s ease-in-out;
        transition: all 0.4s ease;

    }
    .defaul-btn{
        opacity: 0;
        transition: all 0.1s ease;
    }
    
}

// .defaul-btn:hover, .hover-btn{
//         visibility: visible;
// }

.hover-btn{
    opacity: 0;
    width: 5rem;
    background: #998784;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0rem;
    border-radius: 5rem;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    transition: width 0.3s ease-in-out;
    transition: all 0.2s ease;
}

.brd-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}
.bdr1 {
    width: 30%;
    height: 5px;
    background: black;
}
.bdr2 {
    width: 60%;
    height: 2px;
    background: black;
}
.hover-btn img {
    width: 2.2rem;
}
.hover-btn span {
    color: #FFF;
    border-bottom: 3px solid;
    line-height: 2rem;
    margin-top: -0.3rem;
}
.command-btn{
    margin-top: 4rem;
    margin-left: 1rem;
}



